<div>
    <div>
        <span class="step-title">STEP 2: Provide Flat Carpet Area</span>
    </div>
    <div class="row">
        <label style="font-weight: 500;" class="col-sm-4 control-label" for="inputPassword">Area To Be Tiled</label>
        <div class="col-sm-4">
            <ipx-text-field ipx-data-type="integer" type="number" [textField]="'value'" name="tilesArea" placeholder="Please enter area" [(ngModel)]="formData.area">
            </ipx-text-field>
        </div>
    </div>
</div>

<div>
    <div>
        <span class="step-title">STEP 3: Provide Type of Tiles</span>
    </div>
    <div class="row">
        <div *ngFor="let c of formData.categories">
            <ipx-dropdown *ngIf="c.webPartType === 1" [options]="c.products" [label]="c.category.title" [displayField]="'name'" [(ngModel)]="c.selectedProduct">
            </ipx-dropdown>
        </div>
    </div>
</div>

<div class="row" style="margin: 10% 6% 0 0">
    <div class="col-md-8 text-center">
        <button type="submit" class="btn btn-default btn-md btn-block" (click)="onSubmit()">Submit <i class="icon-paper-plane"></i></button>
    </div>
</div>

<app-add-another-button show-add-another="false" (reset)="reset()" (addAnother)="addAnotherProduct($event)" [next]="nextProduct"></app-add-another-button>