<app-menu-header></app-menu-header>

<section id="my-video" class="row">
    <div class="col-md-12 container-fluid">
        <div class="video-section video_item">
            <video #videoplayer (click)="onClick()" [muted]="true" autoplay="autoplay" loop="loop" poster="assets/img/sections/bg/full-img2.jpg">
                <!-- <source src="assets/videos/slider.webm" type="video/webm"/>          -->
                <source src="assets/videos/slider.mp4" type="video/mp4">     
            </video>
            <div (click)="onClick()" class="overlay"></div>
        </div>
    </div>
</section>
<!-- slider -->

<div class="page-header page-title-left page-title-pattern" style="box-shadow: none; background-color: #ffc400;">
    <div class="container">
        <div class="col-md-12">
            <div class="col-md-10">
                <h2 class="title">GET FREE ESTIMATE</h2>
            </div>
            <div class="col-md-2" style="padding-top: 2px;">
                <a href="calculator" class="btn btn-success btn-lg btn-estimate" type="button">PRICE CALCULATOR</a></div>
        </div>
    </div>
</div>

<section class="page-section">
    <div class="section-title" data-animation="fadeInUp">
        <!-- Heading -->
        <h2 class="title">About Us </h2>
    </div>
    <div class="container work-section">

        <h4 class="text-center">MASTER INTERIOR DESIGNS MADE WITH CREATIVE PROFESSIONALS</h4>
        <p class="text-center">
            A layman is a person without professional or specialized knowledge in a particular subject. Here at LAYMANWOODS, we assist people who are looking for professionals for their interior/woodwork. We provide interior designing services and also educate our
            users to understand the difference between two different materials in terms of price and application to empower our users to choose the right material as per their planned budget.
        </p>
    </div>
</section>

<section class="page-section">
    <div class="container">
        <div class="section-title" data-animation="fadeInUp">
            <!-- Heading -->
            <h2 class="title">Our Services</h2>
        </div>
        <div class="row ">
            <div class="col-sm-6 col-md-4" data-animation="fadeInLeft">
                <div class="boxed-block light-bg opacity pad-20 bottom-margin-30">
                    <a href="#">
                        <!-- image -->
                        <img src="assets/img/sections/services/building-construction.jpg" alt="" width="400" height="273" />
                        <!-- Title -->
                        <h5 class=" title text-center tb-margin-10">Building Construction</h5>
                        <!-- Text -->

                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4" data-animation="fadeInUp">
                <div class="boxed-block light-bg opacity pad-20 bottom-margin-30">
                    <a href="#">
                        <!-- image -->
                        <img src="assets/img/sections/services/Kitchen.jpg" alt="" width="400" height="273" />
                        <!-- Title -->
                        <h5 class="title  text-center tb-margin-10">Modular Kitchen & Wardrobes</h5>

                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4" data-animation="fadeInRight">
                <div class="boxed-block light-bg opacity pad-20 bottom-margin-30">
                    <a href="#">
                        <!-- image -->
                        <img src="assets/img/sections/services/house-renovation.jpg" alt="" width="400" height="273" />
                        <!-- Title -->
                        <h5 class="title  text-center tb-margin-10">House Renovation</h5>

                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4" data-animation="fadeInLeft">
                <div class="boxed-block light-bg opacity pad-20 bottom-margin-30">
                    <a href="#">
                        <!-- image -->
                        <img src="assets/img/sections/services/interior-design.jpg" alt="" width="400" height="273" />
                        <!-- Title -->
                        <h5 class="title text-center tb-margin-10">Interior Designing</h5>

                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4" data-animation="fadeInUp">
                <div class="boxed-block light-bg opacity pad-20 bottom-margin-30">
                    <a href="#">
                        <!-- image -->
                        <img src="assets/img/sections/services/painting.jpg" alt="" width="400" height="273" />
                        <!-- Title -->
                        <h5 class="title text-center tb-margin-10">Tiling and Painting</h5>

                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4" data-animation="fadeInRight">
                <div class="boxed-block light-bg opacity pad-20 bottom-margin-30">
                    <a href="#">
                        <!-- image -->
                        <img src="assets/img/sections/services/furniture.jpg" alt="" width="400" height="273" />
                        <!-- Title -->
                        <h5 class="title text-center tb-margin-10">Furniture</h5>

                    </a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>
<!-- services  -->
<section class="page-section">
    <div class="image-bg content-in fixed" data-background="assets/img/sections/bg/bg.jpg">
        <div class="overlay"></div>
    </div>
    <div class="container work-section">
        <div class="section-title white" data-animation="fadeInUp">
            <!-- Heading -->
            <h2 class="title">Design Ideas</h2>
        </div>
        <div id="options" class="filter-menu" data-animation="fadeInUp">
            <ul class="option-set nav nav-pills">
                <li class="filter active" data-filter="all">All</li>
                <li class="filter" data-filter=".ktchn">Kitchen</li>
                <li class="filter" data-filter=".wrdb">Wardrobe</li>
                <li class="filter" data-filter=".bdrm">BedRoom</li>
                <li class="filter" data-filter=".livr">Living Area</li>
                <li class="filter" data-filter=".pop">False Ceiling</li>
            </ul>
        </div>
    </div>
    <!-- filter -->
    <div id="mix-container" class="portfolio-grid" data-animation="fadeInUp">
        <!-- Item 1 -->
        <div *ngFor="let ktchn of portfoliImages.kitchen; let i = index;" class="grids col-xs-12 col-sm-6 col-md-3 mix all ktchn">
            <div class="grid">
                <img src="assets/img/sections/portfolio/kitchen/kit-{{i+1}}.png" width="400" height="200px" alt="Recent Work" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <!-- <h4>Lorem ipsum dolor sit amet</h4> -->
                        <p>Kitchen</p>
                    </div>
                    <!-- Image Popup-->
                    <a href="assets/img/sections/portfolio/kitchen/kit-{{i}}.png" data-rel="prettyPhoto[portfolio]">
                        <i class="fa fa-search"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-link"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Item 8 -->
        <div *ngFor="let wb of portfoliImages.wardrobes; let i = index;" class="grids col-xs-12 col-sm-6 col-md-3 mix all wrdb">
            <div class="grid">
                <img src="assets/img/sections/portfolio/wardrobes/wb-{{i+1}}.png" width="400" height="200px" alt="Recent Work" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block text-center">
                        <!-- <h4>Lorem ipsum dolor sit amet</h4> -->
                        <p>Wardrobe</p>
                    </div>
                    <!-- Image Popup-->
                    <a href="assets/img/sections/portfolio/wardrobes/wb-{{i+1}}.png" data-rel="prettyPhoto[portfolio]">
                        <i class="fa fa-search"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-link"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Item 8 Ends-->
        <div *ngFor="let bdrm of portfoliImages.bedrooms; let i = index;" class="grids col-xs-12 col-sm-6 col-md-3 mix all bdrm">
            <div class="grid">
                <img src="assets/img/sections/portfolio/bedrooms/bed-{{i+1}}.png" width="400" height="200" alt="Recent Work" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block text-center">
                        <!-- <h4>Lorem ipsum dolor sit amet</h4> -->
                        <p>Bed Room</p>
                    </div>
                    <!-- Image Popup-->
                    <a href="assets/img/sections/portfolio/bedrooms/bed-{{i+1}}.png" data-rel="prettyPhoto[portfolio]">
                        <i class="fa fa-search"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-link"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Item 9 Ends-->
        <div *ngFor="let pop of portfoliImages.pop; let i = index;" class="grids col-xs-12 col-sm-6 col-md-3 mix all pop">
            <div class="grid">
                <img src="assets/img/sections/portfolio/pop/pop-{{i+1}}.png" width="370" height="200px" alt="Recent Work" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block text-center">
                        <!-- <h4>Lorem ipsum dolor sit amet</h4> -->
                        <p>False Ceiling</p>
                    </div>
                    <!-- Image Popup-->
                    <a href="assets/img/sections/portfolio/pop/pop-{{i+1}}.png" data-rel="prettyPhoto[portfolio]">
                        <i class="fa fa-search"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-link"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Item 10 Ends-->
        <div *ngFor="let livr of portfoliImages.livingrooms; let i = index;" class="grids col-xs-12 col-sm-6 col-md-3 mix all livr">
            <div class="grid">
                <img src="assets/img/sections/portfolio/living/liv-{{i+1}}.png" width="400" height="200" alt="Recent Work" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <!-- <h4>Lorem ipsum dolor sit amets</h4> -->
                        <p>Living Room</p>
                    </div>
                    <!-- Image Popup-->
                    <a href="assets/img/sections/portfolio/living/liv-{{i+1}}.png" data-rel="prettyPhoto[portfolio]">
                        <i class="fa fa-search"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-link"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Item 11 Ends-->
    </div>
    <!-- Mix Container -->
</section>

<section id="clients" class="page-section">
    <div class="container">
        <div class="section-title">
            <!-- Heading -->
            <h2 class="title">Our Associates</h2>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="owl-carousel navigation-1" data-pagination="false" data-items="6" data-autoplay="true" data-navigation="true">
                    <a href="#"><img src="assets/img/partners/hettich.png" width="120" height="170" alt=""></a>
                    <a href="#"><img src="assets/img/partners/centuryply.png" width="120" height="170" alt=""></a>
                    <a href="#"><img src="assets/img/partners/godrej.png" width="120" height="170" alt=""></a>
                    <a href="#"><img src="assets/img/partners/blum.png" width="120" height="170" alt=""></a>
                    <a href="#"><img src="assets/img/partners/carysil.png" width="120" height="170" alt=""></a>
                    <a href="#"><img src="assets/img/partners/evershine.png" width="120" height="170" alt=""></a>
                    <a href="#"><img src="assets/img/partners/greenlam.png" width="120" height="170" alt=""></a>
                    <a href="#"><img src="assets/img/partners/hafele.png" width="120" height="170" alt=""></a>
                    <a href="#"><img src="assets/img/partners/inox.png" width="120" height="170" alt=""></a>
                    <a href="#"><img src="assets/img/partners/kajaria.png" width="120" height="170" alt=""></a>
                    <a href="#"><img src="assets/img/partners/merino.png" width="120" height="170" alt=""></a>
                    <a href="#"><img src="assets/img/partners/sugatsune.png" width="120" height="170" alt=""></a>
                    <a href="#"><img src="assets/img/partners/tesa.png" width="120" height="170" alt=""></a>
                    <a href="#"><img src="assets/img/partners/venus.png" width="120" height="170" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- clients -->
<div id="get-quote" class="bg-color get-a-quote white text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12" data-animation="pulse">
                Get A Free Quote / Need a Help ? <a class="black" href="contact-us">Contact Us </a>
            </div>
        </div>
    </div>
</div>

<ipx-contact-form></ipx-contact-form>