<app-menu-header></app-menu-header>

<section id="my-video" class="row">
    <div class="col-md-12 container-fluid">
        <div class="video-section video_item">
            <video #videoplayer (click)="onClick()" [muted]="true" autoplay="autoplay" loop="loop" poster="assets/img/sections/bg/full-img2.jpg">
                <!-- <source src="assets/videos/slider.webm" type="video/webm"/>          -->
                <source src="assets/videos/slider.mp4" type="video/mp4">     
            </video>
            <div (click)="onClick()" class="overlay"></div>
        </div>
    </div>
</section>
<!-- slider -->

<div class="page-header page-title-left page-title-pattern" style="box-shadow: none; background-color: #ffc400;">
    <div class="container">
        <div class="col-md-12">
            <div class="col-md-10">
                <h2 class="title">GET FREE ESTIMATE</h2>
            </div>
            <div class="col-md-2" style="padding-top: 2px;">
                <a href="calculator" class="btn btn-success btn-lg btn-estimate" type="button">PRICE CALCULATOR</a></div>
        </div>
    </div>
</div>

<section class="page-section">
    <div class="section-title" data-animation="fadeInUp">
        <!-- Heading -->
        <h2 class="title">About Us </h2>
    </div>
    <div class="container work-section">

        <h4 class="text-center">MASTER PIC DESIGNS MADE WITH CREATIVE PROFESSIONALS</h4>
        <p class="text-center">A layman is a person without professional or specialized knowledge in a particular subject. Here at LAYMANWOODS, we assist people those who are looking for professional, for their interior/woodwork to get done. We, not only provide interior designing
            services but we also educate our client to understand the difference between two different material in terms of price as well as their application so that the client can choose the right material as per their planned budget.</p>

    </div>
</section>

<section class="page-section">
    <div class="container">
        <div class="section-title" data-animation="fadeInUp">
            <!-- Heading -->
            <h2 class="title">Our Services</h2>
        </div>
        <div class="row ">
            <div class="col-sm-6 col-md-4" data-animation="fadeInLeft">
                <div class="boxed-block light-bg opacity pad-20 bottom-margin-30">
                    <a href="#">
                        <!-- image -->
                        <img src="assets/img/sections/services/building-construction.jpg" alt="" width="400" height="273" />
                        <!-- Title -->
                        <h5 class=" title text-center tb-margin-10">Building Construction</h5>
                        <!-- Text -->

                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4" data-animation="fadeInUp">
                <div class="boxed-block light-bg opacity pad-20 bottom-margin-30">
                    <a href="#">
                        <!-- image -->
                        <img src="assets/img/sections/services/Kitchen.jpg" alt="" width="400" height="273" />
                        <!-- Title -->
                        <h5 class="title  text-center tb-margin-10">Modular Kitchen & Wardrobes</h5>

                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4" data-animation="fadeInRight">
                <div class="boxed-block light-bg opacity pad-20 bottom-margin-30">
                    <a href="#">
                        <!-- image -->
                        <img src="assets/img/sections/services/house-renovation.jpg" alt="" width="400" height="273" />
                        <!-- Title -->
                        <h5 class="title  text-center tb-margin-10">House Renovation</h5>

                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4" data-animation="fadeInLeft">
                <div class="boxed-block light-bg opacity pad-20 bottom-margin-30">
                    <a href="#">
                        <!-- image -->
                        <img src="assets/img/sections/services/interior-design.jpg" alt="" width="400" height="273" />
                        <!-- Title -->
                        <h5 class="title text-center tb-margin-10">Interior Designing</h5>

                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4" data-animation="fadeInUp">
                <div class="boxed-block light-bg opacity pad-20 bottom-margin-30">
                    <a href="#">
                        <!-- image -->
                        <img src="assets/img/sections/services/painting.jpg" alt="" width="400" height="273" />
                        <!-- Title -->
                        <h5 class="title text-center tb-margin-10">Tiling and Painting</h5>

                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4" data-animation="fadeInRight">
                <div class="boxed-block light-bg opacity pad-20 bottom-margin-30">
                    <a href="#">
                        <!-- image -->
                        <img src="assets/img/sections/services/furniture.jpg" alt="" width="400" height="273" />
                        <!-- Title -->
                        <h5 class="title text-center tb-margin-10">Furniture</h5>

                    </a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>
<!-- services  -->
<section class="page-section">
    <div class="image-bg content-in fixed" data-background="assets/img/sections/bg/bg.jpg">
        <div class="overlay"></div>
    </div>
    <div class="container work-section">
        <div class="section-title white" data-animation="fadeInUp">
            <!-- Heading -->
            <h2 class="title">Design Ideas</h2>
        </div>
        <div id="options" class="filter-menu" data-animation="fadeInUp">
            <ul class="option-set nav nav-pills">
                <li class="filter active" data-filter="all">All</li>
                <li class="filter" data-filter=".html">Kitchen</li>
                <li class="filter" data-filter=".wp">Wardrobe</li>
                <li class="filter" data-filter=".web">Room Interior</li>
                <li class="filter" data-filter=".livr">Living Area</li>
                <li class="filter" data-filter=".fcel">False Ceiling</li>
            </ul>
        </div>
    </div>
    <!-- filter -->
    <div id="mix-container" class="portfolio-grid" data-animation="fadeInUp">
        <!-- Item 1 -->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all html">
            <div class="grid">
                <img src="assets/img/sections/portfolio/kitchen1.jpg" width="400" height="273" alt="Recent Work" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <p>Buildings</p>
                    </div>
                    <!-- Image Popup-->
                    <a href="assets/img/sections/portfolio/kitchen1.jpg" data-rel="prettyPhoto[portfolio]">
                        <i class="fa fa-search"></i>
                    </a>
                    <a href="portfolio-single.html">
                        <i class="fa fa-link"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Item 1 Ends-->
        <!-- Item 2 -->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all html">
            <div class="grid">
                <img src="assets/img/sections/portfolio/kitchen2.jpg" width="400" height="273" alt="Recent Work" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <p>Buildings</p>
                    </div>
                    <!-- Image Popup-->
                    <a href="assets/img/sections/portfolio/kitchen2.jpg" data-rel="prettyPhoto[portfolio]">
                        <i class="fa fa-search"></i>
                    </a>
                    <a href="portfolio-single.html">
                        <i class="fa fa-link"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Item 2 Ends-->
        <!-- Item 3 -->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all html">
            <div class="grid">
                <img src="assets/img/sections/portfolio/kitchen3.jpg" width="400" height="273" alt="Recent Work" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <p>Buildings</p>
                    </div>
                    <!-- Image Popup-->
                    <a href="assets/img/sections/portfolio/kitchen3.jpg" data-rel="prettyPhoto[portfolio]">
                        <i class="fa fa-search"></i>
                    </a>
                    <a href="portfolio-single.html">
                        <i class="fa fa-link"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Item 3 Ends-->
        <!-- Item 4 -->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all html">
            <div class="grid">
                <img src="assets/img/sections/portfolio/kitchen4.jpg" width="400" height="273" alt="Recent Work" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <p>Interior</p>
                    </div>
                    <!-- Image Popup-->
                    <a href="assets/img/sections/portfolio/kitchen4.jpg" data-rel="prettyPhoto[portfolio]">
                        <i class="fa fa-search"></i>
                    </a>
                    <a href="portfolio-single.html">
                        <i class="fa fa-link"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Item 4 Ends-->
        <!-- Item 5 -->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all wp html">
            <div class="grid">
                <img src="assets/img/sections/portfolio/kitchen5.jpg" width="400" height="273" alt="Recent Work" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <h4>Lorem ipsum dolor sit amets</h4>
                        <p>Energy</p>
                    </div>
                    <!-- Image Popup-->
                    <a href="assets/img/sections/portfolio/kitchen5.jpg" data-rel="prettyPhoto[portfolio]">
                        <i class="fa fa-search"></i>
                    </a>
                    <a href="portfolio-single.html">
                        <i class="fa fa-link"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Item 5 Ends-->
        <!-- Item 6 -->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all html wp">
            <div class="grid">
                <img src="assets/img/sections/portfolio/wardrobe1.jpg" width="400" height="273" alt="Recent Work" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <p>Energy</p>
                    </div>
                    <!-- Image Popup-->
                    <a href="assets/img/sections/portfolio/wardrobe1.jpg" data-rel="prettyPhoto[portfolio]">
                        <i class="fa fa-search"></i>
                    </a>
                    <a href="portfolio-single.html">
                        <i class="fa fa-link"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Item 6 Ends-->
        <!-- Item 7 -->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all web wp">
            <div class="grid">
                <img src="assets/img/sections/portfolio/wardrobe2.jpg" width="400" height="273" alt="Recent Work" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <p>Interior</p>
                    </div>
                    <!-- Image Popup-->
                    <a href="assets/img/sections/portfolio/wardrobe2.jpg" data-rel="prettyPhoto[portfolio]">
                        <i class="fa fa-search"></i>
                    </a>
                    <a href="portfolio-single.html">
                        <i class="fa fa-link"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Item 7 Ends-->
        <!-- Item 8 -->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all web wp">
            <div class="grid">
                <img src="assets/img/sections/portfolio/kitchen1.jpg" width="400" height="273" alt="Recent Work" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block text-center">
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <p>Interior</p>
                    </div>
                    <!-- Image Popup-->
                    <a href="assets/img/sections/portfolio/kitchen1.jpg" data-rel="prettyPhoto[portfolio]">
                        <i class="fa fa-search"></i>
                    </a>
                    <a href="portfolio-single.html">
                        <i class="fa fa-link"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Item 8 Ends-->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all web">
            <div class="grid">
                <img src="assets/img/sections/portfolio/kitchen1.jpg" width="400" height="273" alt="Recent Work" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block text-center">
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <p>Interior</p>
                    </div>
                    <!-- Image Popup-->
                    <a href="assets/img/sections/portfolio/kitchen1.jpg" data-rel="prettyPhoto[portfolio]">
                        <i class="fa fa-search"></i>
                    </a>
                    <a href="portfolio-single.html">
                        <i class="fa fa-link"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Item 9 Ends-->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all fcel">
            <div class="grid">
                <img src="assets/img/sections/portfolio/kitchen1.jpg" width="400" height="273" alt="Recent Work" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block text-center">
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <p>Interior</p>
                    </div>
                    <!-- Image Popup-->
                    <a href="assets/img/sections/portfolio/kitchen1.jpg" data-rel="prettyPhoto[portfolio]">
                        <i class="fa fa-search"></i>
                    </a>
                    <a href="portfolio-single.html">
                        <i class="fa fa-link"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Item 10 Ends-->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all livr">
            <div class="grid">
                <img src="assets/img/sections/portfolio/kitchen5.jpg" width="400" height="273" alt="Recent Work" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <h4>Lorem ipsum dolor sit amets</h4>
                        <p>Energy</p>
                    </div>
                    <!-- Image Popup-->
                    <a href="assets/img/sections/portfolio/kitchen5.jpg" data-rel="prettyPhoto[portfolio]">
                        <i class="fa fa-search"></i>
                    </a>
                    <a href="portfolio-single.html">
                        <i class="fa fa-link"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Item 11 Ends-->
    </div>
    <!-- Mix Container -->
</section>

<section id="clients" class="page-section">
    <div class="container">
        <div class="section-title">
            <!-- Heading -->
            <h2 class="title">Our Associates</h2>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="owl-carousel navigation-1" data-pagination="false" data-items="6" data-autoplay="true" data-navigation="true">
                    <a href="#"><img src="assets/img/partners/hettich.png" width="170" height="170" alt=""></a>
                    <a href="#"><img src="assets/img/partners/centuryply.jpg" width="170" height="170" alt=""></a>
                    <a href="#"><img src="assets/img/partners/godrej.png" width="170" height="170" alt=""></a>
                    <a href="#"><img src="assets/img/partners/blum.png" width="170" height="170" alt=""></a>
                    <a href="#"><img src="assets/img/partners/carysil.jpg" width="170" height="170" alt=""></a>
                    <a href="#"><img src="assets/img/partners/evershine.jpg" width="170" height="170" alt=""></a>
                    <a href="#"><img src="assets/img/partners/greenlam.jpg" width="170" height="170" alt=""></a>
                    <a href="#"><img src="assets/img/partners/hafele.jpg" width="170" height="170" alt=""></a>
                    <a href="#"><img src="assets/img/partners/inox.jpg" width="170" height="170" alt=""></a>
                    <a href="#"><img src="assets/img/partners/kajaria.jpg" width="170" height="170" alt=""></a>
                    <a href="#"><img src="assets/img/partners/merino.jpg" width="170" height="170" alt=""></a>
                    <a href="#"><img src="assets/img/partners/sugatsune.jpg" width="170" height="170" alt=""></a>
                    <a href="#"><img src="assets/img/partners/tesa.jpg" width="170" height="170" alt=""></a>
                    <a href="#"><img src="assets/img/partners/venus.jpg" width="170" height="170" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- clients -->
<div id="get-quote" class="bg-color get-a-quote white text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12" data-animation="pulse">
                Get A Free Quote / Need a Help ? <a class="black" href="/contact-us">Contact Us </a>
            </div>
        </div>
    </div>
</div>

<!-- request -->
<section id="contact-us" class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 contact-info">
                <div class="row text-center">
                    <address class="col-sm-4 col-md-4">
                        <i class="fa fa-map-marker i-9x icons-circle text-color light-bg hover-black"></i>
                        <div class="title">Address</div>
                        Suit 15, Steller IT Park, Sector 62,<br>
                        Noida, U.P.,<br>
                        INDIA.<br>
                        zipcode - 201309
                    </address>
                    <address class="col-sm-4 col-md-4">
                        <i class="fa fa-microphone i-9x icons-circle text-color light-bg hover-black"></i>
                        <div class="title">Phones</div>
                        <div>Support : +91 8929368885</div>
                        <div>Sales : +91 8929368885</div>
                        <div>Admin : +91 8929368885</div>
                    </address>
                    <address class="col-sm-4 col-md-4">
                        <i class="fa fa-envelope i-9x icons-circle text-color light-bg hover-black"></i>
                        <div class="title">Email Address</div>
                        <div>Support : <a href="mailto:support@example.com">support@laymanwoods.com</a></div>
                        <div>Sales : <a href="mailto:support@example.com">sales@laymanwoods.com</a></div>
                        <div>Admin : <a href="mailto:support@example.com">admin@laymanwoods.com</a></div>
                    </address>
                </div>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <!-- <p class="form-message" style="display: none;"></p> -->
                <ipx-contact-form></ipx-contact-form>
            </div>
            <div class="col-md-8">
                <div class="map-section">
                    <div class="map-canvas" data-zoom="12" data-lat="28.6208" data-lng="77.3639" data-type="roadmap" data-hue="#ffc400" data-title="Noida" data-content="Layman Woods<br>
                        Contact: +91 (892) 936-88-85<br>
                        <a href='mailto:info@laymanwoods.com'>info@laymanwoods.com</a>" style="height: 376px;">
                    </div>
                </div>
            </div>
            <!-- map -->
        </div>
    </div>
</section>
<!-- map -->