<app-menu-header></app-menu-header>

<section id="my-video" class="video-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 no-pad">
                <!-- Video -->
                <div id="bg-video">
                    <div class="player" data-property="{videoURL:&#39;https://www.youtube.com/watch?v=wmfJfpQwIX8&#39;,containment:&#39;#my-video&#39;,startAt:0, mute:true, autoPlay:true, showControls:false}"></div>
                </div>
                <!-- <div id="bg-video">
                    <div class="player" data-property="{videoURL:&#39;https://www.youtube.com/watch?v=Y-OLlJUXwKU&#39;,containment:&#39;#my-video&#39;,startAt:0, mute:true, autoPlay:true, showControls:false}"></div>
                </div> -->
            </div>
        </div>
    </div>
    <!-- .additional-info-->
</section>
<!-- slider -->

<div class="bg-color get-a-quote text-left" id="get-quote">
    <div class="container">
        <div class="row">
            <div class="col-md-12 animated pulse visible" data-animation="pulse"><a style="color:#dca11c; font-family: Georgia, 'Times New Roman', Times, serif;" href="/contact-us">GET FREE ESTIMATES</a></div>
        </div>
    </div>
</div>

<section class="page-section">
    <div class="section-title" data-animation="fadeInUp">
        <!-- Heading -->
        <h2 class="title">About Us </h2>
    </div>
    <div class="container">

        <h4 class="text-center">MASTER PIC DESIGNS MADE WITH CREATIVE PROFESSIONALS</h4>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, quisquam, culpa, soluta hic aperiam porro ipsum nisi optio necessitatibus commodi dolorum sapiente voluptatem officiis similique maiores!</p>
        <div class="row text-center">
            <div class="col-sm-3 col-md-3">
                <i class="icon-users medium text-color fa-2x icons-circle border-color"></i>
                <h4>Who We Are?</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dapibus facilisis cvallis.</p>
                <hr />
                <button class="btn btn-default">Read More..</button>
            </div>
            <div class="col-sm-3 col-md-3">
                <i class="icon-presentation2 medium text-color fa-2x icons-circle border-color"></i>
                <h4>Why Choose Us?</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dapibus facilisis cvallis.</p>
                <hr />
                <button class="btn btn-default">Read More..</button>
            </div>
            <div class="col-sm-3 col-md-3">
                <i class="icon-target9 medium text-color fa-2x icons-circle border-color"></i>
                <h4>Our Mission</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dapibus facilisis cvallis.</p>
                <hr />
                <button class="btn btn-default">Read More..</button>
            </div>
            <div class="col-sm-3 col-md-3">
                <i class="icon-lightbulb4 medium text-color fa-2x icons-circle border-color"></i>
                <h4>What we Do?</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dapibus facilisis cvallis.</p>
                <hr />
                <button class="btn btn-default">Read More..</button>
            </div>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="container">
        <div class="section-title" data-animation="fadeInUp">
            <!-- Heading -->
            <h2 class="title">Our Services</h2>
        </div>
        <div class="row ">
            <div class="col-sm-6 col-md-4" data-animation="fadeInLeft">
                <div class="boxed-block light-bg opacity pad-20 bottom-margin-30">
                    <a href="#">
                        <!-- image -->
                        <img src="assets/img/sections/services/building-construction.jpg" alt="" width="400" height="273" />
                        <!-- Title -->
                        <h5 class=" title text-center tb-margin-10">Building Construction</h5>
                        <!-- Text -->
                        <div>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those intereste.
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4" data-animation="fadeInUp">
                <div class="boxed-block light-bg opacity pad-20 bottom-margin-30">
                    <a href="#">
                        <!-- image -->
                        <img src="assets/img/sections/services/Kitchen.jpg" alt="" width="400" height="273" />
                        <!-- Title -->
                        <h5 class="title  text-center tb-margin-10">Modular Kitchen & Wardrobes</h5>
                        <!-- Text -->
                        <div>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those intereste.
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4" data-animation="fadeInRight">
                <div class="boxed-block light-bg opacity pad-20 bottom-margin-30">
                    <a href="#">
                        <!-- image -->
                        <img src="assets/img/sections/services/house-renovation.jpg" alt="" width="400" height="273" />
                        <!-- Title -->
                        <h5 class="title  text-center tb-margin-10">House Renovation</h5>
                        <!-- Text -->
                        <div>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those intereste.
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4" data-animation="fadeInLeft">
                <div class="boxed-block light-bg opacity pad-20 bottom-margin-30">
                    <a href="#">
                        <!-- image -->
                        <img src="assets/img/sections/services/interior-design.jpg" alt="" width="400" height="273" />
                        <!-- Title -->
                        <h5 class="title text-center tb-margin-10">Interior Designing</h5>
                        <!-- Text -->
                        <div>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those intereste.
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4" data-animation="fadeInUp">
                <div class="boxed-block light-bg opacity pad-20 bottom-margin-30">
                    <a href="#">
                        <!-- image -->
                        <img src="assets/img/sections/services/painting.jpg" alt="" width="400" height="273" />
                        <!-- Title -->
                        <h5 class="title text-center tb-margin-10">Tiling and Painting</h5>
                        <!-- Text -->
                        <div>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those intereste.
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4" data-animation="fadeInRight">
                <div class="boxed-block light-bg opacity pad-20 bottom-margin-30">
                    <a href="#">
                        <!-- image -->
                        <img src="assets/img/sections/services/furniture.jpg" alt="" width="400" height="273" />
                        <!-- Title -->
                        <h5 class="title text-center tb-margin-10">Furniture</h5>
                        <!-- Text -->
                        <div>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those intereste.
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>
<!-- services  -->
<section class="page-section">
    <div class="image-bg content-in fixed" data-background="assets/img/sections/bg/bg.jpg">
        <div class="overlay"></div>
    </div>
    <div class="container work-section">
        <div class="section-title white" data-animation="fadeInUp">
            <!-- Heading -->
            <h2 class="title">Latest Works</h2>
        </div>
        <div id="options" class="filter-menu" data-animation="fadeInUp">
            <ul class="option-set nav nav-pills">
                <li class="filter active" data-filter="all">All Works</li>
                <li class="filter" data-filter=".web">Interior</li>
                <li class="filter" data-filter=".html">Kitchen</li>
                <li class="filter" data-filter=".wp">Wardrobes</li>
            </ul>
        </div>
    </div>
    <!-- filter -->
    <div id="mix-container" class="portfolio-grid" data-animation="fadeInUp">
        <!-- Item 1 -->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all html">
            <div class="grid">
                <img src="assets/img/sections/portfolio/kitchen1.jpg" width="400" height="273" alt="Recent Work" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <p>Buildings</p>
                    </div>
                    <!-- Image Popup-->
                    <a href="assets/img/sections/portfolio/kitchen1.jpg" data-rel="prettyPhoto[portfolio]">
                        <i class="fa fa-search"></i>
                    </a>
                    <a href="portfolio-single.html">
                        <i class="fa fa-link"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Item 1 Ends-->
        <!-- Item 2 -->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all html">
            <div class="grid">
                <img src="assets/img/sections/portfolio/kitchen2.jpg" width="400" height="273" alt="Recent Work" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <p>Buildings</p>
                    </div>
                    <!-- Image Popup-->
                    <a href="assets/img/sections/portfolio/kitchen2.jpg" data-rel="prettyPhoto[portfolio]">
                        <i class="fa fa-search"></i>
                    </a>
                    <a href="portfolio-single.html">
                        <i class="fa fa-link"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Item 2 Ends-->
        <!-- Item 3 -->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all html">
            <div class="grid">
                <img src="assets/img/sections/portfolio/kitchen3.jpg" width="400" height="273" alt="Recent Work" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <p>Buildings</p>
                    </div>
                    <!-- Image Popup-->
                    <a href="assets/img/sections/portfolio/kitchen3.jpg" data-rel="prettyPhoto[portfolio]">
                        <i class="fa fa-search"></i>
                    </a>
                    <a href="portfolio-single.html">
                        <i class="fa fa-link"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Item 3 Ends-->
        <!-- Item 4 -->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all html">
            <div class="grid">
                <img src="assets/img/sections/portfolio/kitchen4.jpg" width="400" height="273" alt="Recent Work" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <p>Interior</p>
                    </div>
                    <!-- Image Popup-->
                    <a href="assets/img/sections/portfolio/kitchen4.jpg" data-rel="prettyPhoto[portfolio]">
                        <i class="fa fa-search"></i>
                    </a>
                    <a href="portfolio-single.html">
                        <i class="fa fa-link"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Item 4 Ends-->
        <!-- Item 5 -->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all wp html">
            <div class="grid">
                <img src="assets/img/sections/portfolio/kitchen5.jpg" width="400" height="273" alt="Recent Work" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <h4>Lorem ipsum dolor sit amets</h4>
                        <p>Energy</p>
                    </div>
                    <!-- Image Popup-->
                    <a href="assets/img/sections/portfolio/kitchen5.jpg" data-rel="prettyPhoto[portfolio]">
                        <i class="fa fa-search"></i>
                    </a>
                    <a href="portfolio-single.html">
                        <i class="fa fa-link"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Item 5 Ends-->
        <!-- Item 6 -->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all html wp">
            <div class="grid">
                <img src="assets/img/sections/portfolio/wardrobe1.jpg" width="400" height="273" alt="Recent Work" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <p>Energy</p>
                    </div>
                    <!-- Image Popup-->
                    <a href="assets/img/sections/portfolio/wardrobe1.jpg" data-rel="prettyPhoto[portfolio]">
                        <i class="fa fa-search"></i>
                    </a>
                    <a href="portfolio-single.html">
                        <i class="fa fa-link"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Item 6 Ends-->
        <!-- Item 7 -->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all web wp">
            <div class="grid">
                <img src="assets/img/sections/portfolio/wardrobe2.jpg" width="400" height="273" alt="Recent Work" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <p>Interior</p>
                    </div>
                    <!-- Image Popup-->
                    <a href="assets/img/sections/portfolio/wardrobe2.jpg" data-rel="prettyPhoto[portfolio]">
                        <i class="fa fa-search"></i>
                    </a>
                    <a href="portfolio-single.html">
                        <i class="fa fa-link"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Item 7 Ends-->
        <!-- Item 8 -->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all web wp">
            <div class="grid">
                <img src="assets/img/sections/portfolio/kitchen1.jpg" width="400" height="273" alt="Recent Work" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block text-center">
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <p>Interior</p>
                    </div>
                    <!-- Image Popup-->
                    <a href="assets/img/sections/portfolio/kitchen1.jpg" data-rel="prettyPhoto[portfolio]">
                        <i class="fa fa-search"></i>
                    </a>
                    <a href="portfolio-single.html">
                        <i class="fa fa-link"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Item 8 Ends-->
    </div>
    <!-- Mix Container -->
</section>
<div class="bg-color get-a-quote" style="background-color: #dca11c;" id="get-quote"></div>
<section class="vc_section vc_custom_1559723821553 vc_section-has-fill">
    <section class="vc_row wpb_row vc_row-fluid vc-zozo-section typo-light">
        <div class="zozo-vc-main-row-inner vc-normal-section">
            <div class="wpb_column vc_main_column vc_column_container vc_col-sm-2 typo-default">
                <div class="vc_column-inner vc_custom_1559724793585">
                    <div class="wpb_wrapper">
                        <div class="vc_icon_element vc_icon_element-outer vc_icon_element-align-center vc_icon_element-have-style">
                            <div class="vc_icon_element-inner vc_icon_element-color-custom vc_icon_element-have-style-inner vc_icon_element-size-xl vc_icon_element-style-rounded-outline vc_icon_element-outline vc_icon_element-background-color-custom" style="border-color:#ffc400"><span class="vc_icon_element-icon fa fa-gift" style="color:#ffc400 !important"></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wpb_column vc_main_column vc_column_container vc_col-sm-8 typo-light">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="wpb_text_column wpb_content_element  free-consultation">
                            <div class="wpb_wrapper">
                                <h1 class=" text-left text-uppercase bottom-margin-10">IMPROVE YOUR HOME DECOR WITH OUR <span class="text-color text-uppercase bottom-margin-10">“FREE” </span>CONSULTATION !!</h1>
                                <p class=" text-left">Lorem Ipsum is simply dummied text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s.Lorem Ipsum is simply dummied text of the printing and typesetting
                                    industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wpb_column vc_main_column vc_column_container vc_col-sm-2 typo-default">
                <div class="vc_column-inner vc_custom_1559727346856">
                    <div class="wpb_wrapper">
                        <div class="vc_btn3-container vc_btn3-center">
                            <a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-default vc_btn3-color-primary-bg" href="http://laymanwoods.com" title="">CALL US</a> </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<!-- request -->
<div class="bg-color get-a-quote" style="background-color: black;" id="get-quote"></div>
<section id="map" data-animation="fadeInUp">
    <div class="map-section">
        <div class="map-canvas" data-zoom="12" data-lat="28.6208" data-lng="77.3639" data-type="roadmap" data-hue="#ffc400" data-title="Noida" data-content="Layman Woods<br>
            Contact: +91 (892) 936-88-85<br>
            <a href='mailto:info@laymanwoods.com'>info@laymanwoods.com</a>" style="height: 376px;">
        </div>
    </div>
</section>
<!-- map -->