.btn-estimate {
    // position: absolute;
    // right: 15px;
    top: 0%;
    width: auto;
    background-color: #2a292b;
    font-weight: 500;
    color: #ffc400;
    padding: 10px 20px 10px 20px;
}

.top-bar-section.top-bar-bg-color,
.icons-bg-color i,
.bg-color,
.bg-hover-color:hover,
.gray-bg i:hover,
.features-list-item:hover i,
.image-bg .overlay-color,
.overlay-color {
    background-color: #0d0b0d;
}

h2 {
    font-size: 35px;
    margin: 0 0 4px;
}