.btn-estimate {
    position: absolute;
    right: 15px;
    top: 0%;
    width: auto;
    background-color: #2a292b;
    font-weight: 600;
    color: #ffc400;
    padding: 15px 25px 15px 25px;
}

.top-bar-section.top-bar-bg-color,
.icons-bg-color i,
.bg-color,
.bg-hover-color:hover,
.gray-bg i:hover,
.features-list-item:hover i,
.image-bg .overlay-color,
.overlay-color {
    background-color: #0d0b0d;
}