<!-- .product -->
<div class="row">

<div class="col-md-12">

    <div class="step-title">
        <span>STEP 2: Choose the Layout of Kitchen</span >
    </div>

    <div class="description">
              <label class="radio-inline" *ngFor="let type of kitchens">
                <input type="radio" name="kitchenType" (click)="formData.selectedKitchen = type" (change)="onKitchenChange(type)"
                [checked]="type.name === formData.selectedKitchen.name">{{ type.name }}
              </label>

    </div>
    <div class="post-image opacity"><img [src]="formData.selectedKitchen.imageUrl"
            style="max-width: 700px; max-height: 300px;" [alt]="formData.selectedKitchen.name" [title]="formData.selectedKitchen.name"></div>
    </div>

<div class="col-md-12">
    <div class="step-title"> 
        <span>STEP 3: Input Kitchen Measurements</span>
    </div>
    <ipx-combo-textbox *ngIf="formData.selectedKitchen.sides > 0"
    [label1]="'Feet'" 
    [label2]="'Inches'" 
    [textField1]="'feet'" 
    [textField2]="'inches'" 
    [label2]="'Inches'" 
    [name]="'A'" 
    [(ngModel)]="formData.A" 
    (valueChanged)="formData.totalArea = calculateArea()"
    [minValue]="'0'" 
    [maxValue]="30"
    [placeholder1]="'Feet'" 
    [placeholder2]="'Inches'">
</ipx-combo-textbox>
    
    
<ipx-combo-textbox *ngIf="formData.selectedKitchen.sides > 1"
  [label1]="'Feet'" 
  [label2]="'Inches'" 
  [textField1]="'feet'" 
  [textField2]="'inches'" 
  [label2]="'Inches'" 
  [name]="'B'" 
  [(ngModel)]="formData.B"
  (valueChanged)="formData.totalArea = calculateArea()" 
  [minValue]="'0'" 
  [maxValue]="30"
  [placeholder1]="'Feet'" 
  [placeholder2]="'Inches'">
</ipx-combo-textbox>

<ipx-combo-textbox *ngIf="formData.selectedKitchen.sides > 2"
  [label1]="'Feet'" 
  [label2]="'Inches'" 
  [textField1]="'feet'" 
  [textField2]="'inches'" 
  [label2]="'Inches'" 
  [name]="'C'" 
  [(ngModel)]="formData.C" 
  (valueChanged)="formData.totalArea = calculateArea()"
  [minValue]="'0'" 
  [maxValue]="30"
  [placeholder1]="'Feet'" 
  [placeholder2]="'Inches'">
</ipx-combo-textbox>
</div>

<div class="col-md-12" style="padding-bottom: 10px;">
    <div class="step-title">
        <span>STEP 4: Kitchen Height</span>
    </div>
    <label class="radio-inline" *ngFor="let height of ['Standard','Roof Top']">
      <input type="radio" name="kitchenHeight" (click)="formData.kitchenHeight = height"
      [checked]="height === formData.kitchenHeight">{{ height }}
    </label>
</div>

<div class="col-md-12">
    <div class="step-title">
      <span>STEP 5: Material Quality / Brand Selection </span>
  </div>
    <div class="row">

        <div class="form-group">
            <div class="col-sm-3">
                <h4>Material</h4>
            </div>
            <div class="col-sm-4">
                <h4>Brand</h4>
            </div>
        </div>
     
        <ipx-dropdown class="col-sm-8" [options]="product1Brands" [label]="'Ply and Board'" [displayField]="'name'" [(ngModel)]="formData.selectedBrand1" (change)="calculateCostByBrand()"></ipx-dropdown>
        <ipx-dropdown class="col-sm-8" [options]="product2Brands" [label]="'Inner Laminate'" [displayField]="'name'" [(ngModel)]="formData.selectedBrand2" (change)="calculateCostByBrand()"></ipx-dropdown>
        <ipx-dropdown class="col-sm-8" [options]="product3Brands" [label]="'Outer Finish'" [displayField]="'name'" [(ngModel)]="formData.selectedBrand3" (change)="calculateCostByBrand()"></ipx-dropdown>
        <ipx-dropdown class="col-sm-8" [options]="product4Brands" [label]="'Hinges'" [displayField]="'name'" [(ngModel)]="formData.selectedBrand4" (change)="calculateCostByBrand()"></ipx-dropdown>
        <ipx-dropdown class="col-sm-8" [options]="product5Brands" [label]="'Channels'" [displayField]="'name'" [(ngModel)]="formData.selectedBrand5" (change)="calculateCostByBrand()"></ipx-dropdown>
        <ipx-dropdown class="col-sm-8" [options]="product6Brands" [label]="'Full Size'" [displayField]="'name'" [(ngModel)]="formData.selectedBrand6" (change)="calculateCostByBrand()"></ipx-dropdown>
        <ipx-dropdown class="col-sm-8" [options]="product7Brands" [label]="'Border and Corners'" [displayField]="'name'" [(ngModel)]="formData.selectedBrand7" (change)="calculateCostByBrand()"></ipx-dropdown>
    </div>

</div>


<!-- <div class="col-md-12">
    <div class="price-details">
        <h3>Step 6</h3>
        <span class="price"> Extra Hardware Accessories</span>
    </div>
    <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox1" value="option1"> Tall Unit
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox2" value="option2"> Rolling Shutter
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox3" value="option3"> Owen/ Microwave Unit
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox4" value="option4"> S Corner Unit
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox5" value="option5"> Glass Aluminium Shutters
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox6" value="option6"> Door Lift System
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox7" value="option7"> Chminey
      </label>
</div> -->

</div>