<div class="col-md-12">
    <div>
        <span class="step-title">STEP 2: Provide Flat Carpet Area</span>
    </div>
    <div class="form-group">
        <label style="font-weight: 500;" class="col-sm-4 control-label" for="inputPassword">Area To Be Tiled</label>
        <div class="col-sm-4">
            <ipx-text-field ipx-data-type="integer" type="number" [textField]="'value'" name="tilesArea" 
            placeholder="Please enter area" [(ngModel)]="formData.area" (change)="calculateCost()">
            </ipx-text-field>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div>
        <span class="step-title">STEP 3: Provide Type of Tiles</span>
    </div>
    <div class="form-group">
            <ipx-dropdown class="col-sm-12" [options]="tileTypes" [label]="'Type of Tiles'" [displayField]="'name'" 
            [(ngModel)]="formData.selectedType" (change)="calculateCost()"></ipx-dropdown>
    </div>

</div>

<div class="row" style="margin: 10% 6% 0 0">
    <div class="col-md-8 text-center"> 
      <button type="submit" class="btn btn-default btn-md btn-block" (click)="onSubmit()">Submit <i class="icon-paper-plane"></i></button>
    </div> 
  </div>
  
  <app-add-another-button show-add-another="false" (reset)="reset()" (addAnother)="addAnotherProduct($event)" [next]="nextProduct"></app-add-another-button>
    