<div class="page-header page-title-left page-title-transparent">
    <div #image class="image-bg content-in" [ngStyle]="{'background-image': 'url(' + bgImage + ')'}"></div>
    <div class="container white">
        <div class="col-md-12">
            <h1 class="title">{{title}}</h1>
            <h5>{{ subTitle }}</h5>
            <ul class="breadcrumb white">
                <li>
                    <a [routerLink]="parentPath">{{parent}}</a>
                </li>
                <li class="active">{{current}}</li>
            </ul>
        </div>
    </div>
</div>