<section id="services" class="page-section">
    <div class="container">
        <div class="section-title" data-animation="fadeInUp">
            <!-- Heading -->
            <h2 class="title">Our Services</h2>
        </div>
        <div class="row ">
            <div class="col-sm-6 col-md-4" data-animation="fadeInLeft">
                <div class="boxed-block light-bg opacity pad-20 bottom-margin-30">
                    <a href="#">
                        <!-- image -->
                        <img src="assets/img/sections/services/building-construction.jpg" alt="" width="400"
                            height="273" />
                        <!-- Title -->
                        <h5 class=" title text-center tb-margin-10">Building Construction</h5>
                        <!-- Text -->
                        <div>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                            intereste.</div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4" data-animation="fadeInUp">
                <div class="boxed-block light-bg opacity pad-20 bottom-margin-30">
                    <a href="#">
                        <!-- image -->
                        <img src="assets/img/sections/services/Kitchen.jpg" alt="" width="400" height="273" />
                        <!-- Title -->
                        <h5 class="title  text-center tb-margin-10">Modular Kitchen & Wardrobes</h5>
                        <!-- Text -->
                        <div>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                            intereste.</div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4" data-animation="fadeInRight">
                <div class="boxed-block light-bg opacity pad-20 bottom-margin-30">
                    <a href="#">
                        <!-- image -->
                        <img src="assets/img/sections/services/house-renovation.jpg" alt="" width="400" height="273" />
                        <!-- Title -->
                        <h5 class="title  text-center tb-margin-10">House Renovation</h5>
                        <!-- Text -->
                        <div>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                            intereste.</div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4" data-animation="fadeInLeft">
                <div class="boxed-block light-bg opacity pad-20 bottom-margin-30">
                    <a href="#">
                        <!-- image -->
                        <img src="assets/img/sections/services/interior-design.jpg" alt="" width="400" height="273" />
                        <!-- Title -->
                        <h5 class="title text-center tb-margin-10">Interior Designing</h5>
                        <!-- Text -->
                        <div>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                            intereste.</div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4" data-animation="fadeInUp">
                <div class="boxed-block light-bg opacity pad-20 bottom-margin-30">
                    <a href="#">
                        <!-- image -->
                        <img src="assets/img/sections/services/painting.jpg" alt="" width="400" height="273" />
                        <!-- Title -->
                        <h5 class="title text-center tb-margin-10">Tiling and Painting</h5>
                        <!-- Text -->
                        <div>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                            intereste.</div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4" data-animation="fadeInRight">
                <div class="boxed-block light-bg opacity pad-20 bottom-margin-30">
                    <a href="#">
                        <!-- image -->
                        <img src="assets/img/sections/services/furniture.jpg" alt="" width="400" height="273" />
                        <!-- Title -->
                        <h5 class="title text-center tb-margin-10">Furniture</h5>
                        <!-- Text -->
                        <div>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                            intereste.</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>