<app-title-header title="BE ENTREPRENEUR" url="http://laymanwood.in/assets/img/calculator.jpg" parent="Home" [parent-path]="'/home'" subTitle="Fullfill your dream. join Us!" current-page="be-entrpreneur">
</app-title-header>

<section class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <div class="youtube-section">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/meWV7SLoFfI?rel=0&autoplay=1&loop=1&playlist=meWV7SLoFfI" frameborder="2"></iframe>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <h4>Layman Woods / CEO</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum sapiente voluptatem officiis similique maiores!</p>
                <div class="row">
                    <div class="row">
                        <div class="col-md-4 text-center progress-circular" data-appear-animation="fadeInLeftBig">
                            <div class="piechart" data-percent="90" data-barcolor="#ffc400" data-trackcolor="#ffffff" data-linewidth="8" data-size="140">
                                <span>90</span>
                                <canvas height="140" width="140"></canvas></div>
                            <p class="black">Wordpress</p>
                        </div>
                        <div class="col-md-4 text-center progress-circular" data-appear-animation="fadeInLeft">
                            <div class="piechart" data-percent="60" data-barcolor="#ffc400" data-trackcolor="#ffffff" data-linewidth="8" data-size="140">
                                <span>60</span>
                                <canvas height="140" width="140"></canvas></div>
                            <p class="black">CSS3</p>
                        </div>
                        <div class="col-md-4 text-center progress-circular" data-appear-animation="fadeInRight">
                            <div class="piechart" data-percent="75" data-barcolor="#ffc400" data-trackcolor="#ffffff" data-linewidth="8" data-size="140">
                                <span>75</span>
                                <canvas height="140" width="140"></canvas></div>
                            <p class="black">HTML5</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>