<!-- .product -->
<div class="row">
    <div class="col-md-12">
        <div class="step-title">
            <span>STEP 2: Choose the Layout of Kitchen</span >
    </div>
    <div class="description">
              <label class="radio-inline" *ngFor="let type of kitchens">
                <input type="radio" name="kitchenType" (click)="formData.selectedKitchen = type" (change)="onKitchenChange(type)"
                [checked]="type.name === formData.selectedKitchen.name">{{ type.name }}
              </label>
    </div>
    <div class="post-image opacity"><img [src]="formData.selectedKitchen.imageUrl"
            style="width: 500px; height: 300px;" [alt]="formData.selectedKitchen.name" [title]="formData.selectedKitchen.name"></div>
    </div>

<div class="col-md-12">
    <div class="step-title"> 
        <span>STEP 3: Input Kitchen Measurements</span>
        </div>
        <ipx-combo-textbox *ngIf="formData.selectedKitchen.sides > 0" [label1]="'Feet'" [label2]="'Inches'" [textField1]="'feet'" [textField2]="'inches'" [label2]="'Inches'" [name]="'A'" [(ngModel)]="formData.A" (valueChanged)="formData.totalArea = calculateArea()"
            [minValue]="'0'" [maxValue]="11" [placeholder1]="'Feet'" [placeholder2]="'Inches'">
        </ipx-combo-textbox>


        <ipx-combo-textbox *ngIf="formData.selectedKitchen.sides > 1" [label1]="'Feet'" [label2]="'Inches'" [textField1]="'feet'" [textField2]="'inches'" [label2]="'Inches'" [name]="'B'" [(ngModel)]="formData.B" (valueChanged)="formData.totalArea = calculateArea()"
            [minValue]="'0'" [maxValue]="11" [placeholder1]="'Feet'" [placeholder2]="'Inches'">
        </ipx-combo-textbox>

        <ipx-combo-textbox *ngIf="formData.selectedKitchen.sides > 2" [label1]="'Feet'" [label2]="'Inches'" [textField1]="'feet'" [textField2]="'inches'" [label2]="'Inches'" [name]="'C'" [(ngModel)]="formData.C" (valueChanged)="formData.totalArea = calculateArea()"
            [minValue]="'0'" [maxValue]="11" [placeholder1]="'Feet'" [placeholder2]="'Inches'">
        </ipx-combo-textbox>
    </div>

    <div class="col-md-12" style="padding-bottom: 10px;">

        <div class="step-title">
            <span>STEP 4: Kitchen Height</span>
        </div>
        <label class="radio-inline" *ngFor="let height of ['Standard','Roof Top']">
      <input type="radio" name="kitchenHeight" (click)="formData.kitchenHeight = height"
      [checked]="height === formData.kitchenHeight">{{ height }}
    </label>
        <ipx-help-button style="margin-left: 20px;" margin="20px" position="right"></ipx-help-button>
    </div>

    <div class="col-md-12">
        <div class="step-title">
            <span>STEP 5: Material Quality / Brand Selection </span>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-sm-5">
                    <h4>Material</h4>
                </div>
                <div class="col-sm-5">
                    <h4>Brand</h4>
                </div>
            </div>

            <div *ngFor="let c of formData.categories">
                <ipx-dropdown *ngIf="c.webPartType === 1" [options]="c.products" [label]="c.category.title" [displayField]="'name'" [(ngModel)]="c.selectedProduct" (change)="specialProductRules(c)">
                </ipx-dropdown>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="price-details">
            <h3>Step 6</h3>
            <span class="price"> Extra Hardware Accessories</span>
        </div>

        <div *ngFor="let c of formData.categories">
            <div *ngIf="c.webPartType === 3">
                <label *ngFor="let p of c.products" class="checkbox-inline" style="margin-left: 10px;">
                <input type="checkbox" name="p.productId" id="p.productId" [(ngModel)]="p.isChecked" value="p.productId"> 
                {{ p.name}}
             </label>
            </div>
        </div>
    </div>

</div>

<div class="row" style="margin: 10% 6% 0 0">
    <div class="col-md-8 text-center">
        <button type="submit" class="btn btn-default btn-md btn-block" (click)="onSubmit()">Submit <i class="icon-paper-plane"></i></button>
    </div>
</div>

<app-add-another-button (reset)="reset()" (addAnother)="addAnotherProduct($event)" [next]="nextProduct"></app-add-another-button>