<app-title-header title="" url="https://astainteriors.in/images/about-banner.jpg" parent="Home" [parent-path]="'/home'" subTitle="" current-page="about-us">
</app-title-header>

<section id="about-us" class="page-section">
    <div class="section-title " data-animation="fadeInUp ">
        <!-- Heading -->
        <h2 class="title ">About Us </h2>
    </div>
    <div class="container">
        <h4 class="text-center">MASTER INTERIOR DESIGNS MADE WITH CREATIVE PROFESSIONALS</h4>
        <p class="text-center">A layman is a person without professional or specialized knowledge in a particular subject. Here at LAYMANWOODS, we assist people those who are looking for professional, for their interior/woodwork to get done. We, not only provide interior designing
            services but we also educate our client to understand the difference between two different material in terms of price as well as their application so that the client can choose the right material as per their planned budget.</p>
        <br>
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <div class="youtube-section">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/meWV7SLoFfI?rel=0&autoplay=1&loop=1&playlist=meWV7SLoFfI" frameborder="2"></iframe>
            </div>
        </div>
    </div>
</section>