<app-title-header *ngIf="helpContent" type="video" [title]="helpContent? helpContent.title: 'Product Help'" [url]="helpContent.imageUrl+'?version=3
    &start=1
    &loop=1
    &playlist=-01MgCYYy6c
    &autoplay=1
    &controls=0'" parent="Home" [parent-path]="'/home'" subTitle="Help Product" current-page="Help"></app-title-header>

<div *ngIf="noDataFound" class="row" style="margin-left: 20%;"> <img width="800" height="400" src="https://i.pinimg.com/originals/88/36/65/8836650a57e0c941b4ccdc8a19dee887.png">
</div>

<section *ngIf="helpContent" class="page-section">
    <div class="container shop">
        <div class="row">
            <div *ngIf="helpContent" class="col-md-12 product-page">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="single-product">
                            <img id="zoom-product" [src]="helpContent.imageUrl" width="500" height="600" data-zoom-image="img/sections/shop/w1-1.jpg">
                            <div id="zoom-product-thumb" class="zoom-product-thumb">
                                <div class="owl-carousel navigation-shop dark-switch lr-pad-20 owl-theme" data-pagination="false" data-autoplay="true" data-navigation="true" data-items="3" data-tablet="4" data-mobile="3" style="opacity: 1; display: block;">
                                    <div class="owl-wrapper-outer">
                                        <div class="owl-wrapper" style="width: 1090px; left: 0px; display: block; transition: all 1000ms ease 0s; transform: translate3d(0px, 0px, 0px);">
                                            <div class="owl-item" style="width: 109px;">
                                                <a href="#" data-image="img/sections/shop/w1-0.jpg" data-zoom-image="img/sections/shop/w1-0.jpg">
                                                    <img id="img_01" src="http://placehold.it/80x16">
                                                </a>
                                            </div>
                                            <div class="owl-item" style="width: 109px;">
                                                <a href="#" data-image="img/sections/shop/w1-1.jpg" data-zoom-image="img/sections/shop/w1-1.jpg">
                                                    <img id="img_01" src="http://placehold.it/80x16">
                                                </a>
                                            </div>
                                            <div class="owl-item" style="width: 109px;">
                                                <a href="#" data-image="img/sections/shop/w1-2.jpg" data-zoom-image="img/sections/shop/w1-2.jpg">
                                                    <img id="img_01" src="http://placehold.it/80x16">
                                                </a>
                                            </div>
                                            <div class="owl-item" style="width: 109px;">
                                                <a href="#" data-image="img/sections/shop/w1-1.jpg" data-zoom-image="img/sections/shop/w1-1.jpg">
                                                    <img id="img_01" src="http://placehold.it/80x16">
                                                </a>
                                            </div>
                                            <div class="owl-item" style="width: 109px;">
                                                <a href="#" data-image="img/sections/shop/w1-2.jpg" data-zoom-image="img/sections/shop/w1-2.jpg">
                                                    <img id="img_01" src="http://placehold.it/80x16">
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="owl-controls clickable">
                                        <div class="owl-buttons">
                                            <div class="owl-prev"><i class="fa fa-angle-left"></i></div>
                                            <div class="owl-next"><i class="fa fa-angle-right"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .product -->
                    <div class="col-md-8 col-sm-6">
                        <div class="price-details">
                            <span class="price">{{helpContent.title}}</span></div>
                        <div id="apiContent" [innerHtml]="helpContent.description">
                        </div>
                        <div class="product-meta-details">
                            <!-- <span class="product-code">SKU: {{product.categoryCode}}</span> -->
                            <!-- <span class="product-code pull-right">Category: Watch, Men Watch</span> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>