<section id="works" class="page-section">
    <div class="image-bg content-in fixed" data-background="assets/img/sections/bg/bg.jpg">
        <div class="overlay"></div>
    </div>
    <div class="container work-section">
        <div class="section-title white" data-animation="fadeInUp">
            <!-- Heading -->
            <h2 class="title">Latest Works</h2>
        </div>
        <div id="options" class="filter-menu" data-animation="fadeInUp">
            <ul class="option-set nav nav-pills">
                <li class="filter active" data-filter="all">All Works</li>
                <li class="filter" data-filter=".web">Interior</li>
                <li class="filter" data-filter=".html">Kitchen</li>
                <li class="filter" data-filter=".wp">Wardrobes</li>
            </ul>
        </div>
    </div>
    <!-- filter -->
    <div id="mix-container" class="portfolio-grid" data-animation="fadeInUp">
        <!-- Item 1 -->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all html">
            <div class="grid">
                <img src="assets/img/sections/portfolio/kitchen1.jpg" width="400" height="273" alt="Recent Work"
                    class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <p>Buildings</p>
                    </div>
                    <!-- Image Popup-->
                    <a href="assets/img/sections/portfolio/kitchen1.jpg" data-rel="prettyPhoto[portfolio]">
                        <i class="fa fa-search"></i>
                    </a>
                    <a href="portfolio-single.html">
                        <i class="fa fa-link"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Item 1 Ends-->
        <!-- Item 2 -->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all html">
            <div class="grid">
                <img src="assets/img/sections/portfolio/kitchen2.jpg" width="400" height="273" alt="Recent Work"
                    class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <p>Buildings</p>
                    </div>
                    <!-- Image Popup-->
                    <a href="assets/img/sections/portfolio/kitchen2.jpg" data-rel="prettyPhoto[portfolio]">
                        <i class="fa fa-search"></i>
                    </a>
                    <a href="portfolio-single.html">
                        <i class="fa fa-link"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Item 2 Ends-->
        <!-- Item 3 -->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all html">
            <div class="grid">
                <img src="assets/img/sections/portfolio/kitchen3.jpg" width="400" height="273" alt="Recent Work"
                    class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <p>Buildings</p>
                    </div>
                    <!-- Image Popup-->
                    <a href="assets/img/sections/portfolio/kitchen3.jpg" data-rel="prettyPhoto[portfolio]">
                        <i class="fa fa-search"></i>
                    </a>
                    <a href="portfolio-single.html">
                        <i class="fa fa-link"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Item 3 Ends-->
        <!-- Item 4 -->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all html">
            <div class="grid">
                <img src="assets/img/sections/portfolio/kitchen4.jpg" width="400" height="273" alt="Recent Work"
                    class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <p>Interior</p>
                    </div>
                    <!-- Image Popup-->
                    <a href="assets/img/sections/portfolio/kitchen4.jpg" data-rel="prettyPhoto[portfolio]">
                        <i class="fa fa-search"></i>
                    </a>
                    <a href="portfolio-single.html">
                        <i class="fa fa-link"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Item 4 Ends-->
        <!-- Item 5 -->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all wp html">
            <div class="grid">
                <img src="assets/img/sections/portfolio/kitchen5.jpg" width="400" height="273" alt="Recent Work"
                    class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <h4>Lorem ipsum dolor sit amets</h4>
                        <p>Energy</p>
                    </div>
                    <!-- Image Popup-->
                    <a href="assets/img/sections/portfolio/kitchen5.jpg" data-rel="prettyPhoto[portfolio]">
                        <i class="fa fa-search"></i>
                    </a>
                    <a href="portfolio-single.html">
                        <i class="fa fa-link"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Item 5 Ends-->
        <!-- Item 6 -->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all html wp">
            <div class="grid">
                <img src="assets/img/sections/portfolio/wardrobe1.jpg" width="400" height="273" alt="Recent Work"
                    class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <p>Energy</p>
                    </div>
                    <!-- Image Popup-->
                    <a href="assets/img/sections/portfolio/wardrobe1.jpg" data-rel="prettyPhoto[portfolio]">
                        <i class="fa fa-search"></i>
                    </a>
                    <a href="portfolio-single.html">
                        <i class="fa fa-link"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Item 6 Ends-->
        <!-- Item 7 -->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all web wp">
            <div class="grid">
                <img src="assets/img/sections/portfolio/wardrobe2.jpg" width="400" height="273" alt="Recent Work"
                    class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <p>Interior</p>
                    </div>
                    <!-- Image Popup-->
                    <a href="assets/img/sections/portfolio/wardrobe2.jpg" data-rel="prettyPhoto[portfolio]">
                        <i class="fa fa-search"></i>
                    </a>
                    <a href="portfolio-single.html">
                        <i class="fa fa-link"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Item 7 Ends-->
        <!-- Item 8 -->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all web wp">
            <div class="grid">
                <img src="assets/img/sections/portfolio/kitchen1.jpg" width="400" height="273" alt="Recent Work"
                    class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block text-center">
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <p>Interior</p>
                    </div>
                    <!-- Image Popup-->
                    <a href="assets/img/sections/portfolio/kitchen1.jpg" data-rel="prettyPhoto[portfolio]">
                        <i class="fa fa-search"></i>
                    </a>
                    <a href="portfolio-single.html">
                        <i class="fa fa-link"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Item 8 Ends-->
    </div>
    <!-- Mix Container -->
</section>