<section class="page-section">
    <div class="container">
        <div class="bs-docs-section">

            <ipx-combo-textbox 
                [label1]="'Feet'" 
                [label2]="'Inches'" 
                [textField1]="'feet'" 
                [textField2]="'inches'" 
                [label2]="'Inches'" 
                [name]="'A'" 
                [(ngModel)]="A" 
                [minValue]="'0'" 
                [maxValue]="30"
                [placeholder1]="'Feet'" 
                [placeholder2]="'Inches'">
            </ipx-combo-textbox>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="container">
        <div class="bs-docs-section">

            <ipx-combo-textbox 
                [label1]="'Feet'" 
                [label2]="'Inches'" 
                [textField1]="'feet'" 
                [textField2]="'inches'" 
                [label2]="'Inches'" 
                [name]="'B'" 
                [(ngModel)]="B" 
                [minValue]="'0'" 
                [maxValue]="30"
                [placeholder1]="'Feet'" 
                [placeholder2]="'Inches'">
            </ipx-combo-textbox>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="container">
        <div class="bs-docs-section">

            <ipx-combo-textbox 
                [label1]="'Feet'" 
                [label2]="'Inches'" 
                [textField1]="'feet'" 
                [textField2]="'inches'" 
                [label2]="'Inches'" 
                [name]="'C'" 
                [(ngModel)]="C" 
                [minValue]="'0'" 
                [maxValue]="30"
                [placeholder1]="'Feet'" 
                [placeholder2]="'Inches'">
            </ipx-combo-textbox>
        </div>
    </div>
</section>