<app-title-header title="Contact Us" url="assets/img/contact-us-banner.jpg" parent="Home" [parent-path]="'/home'" subTitle="Write your queries and feedback" current-page="contact-us">
</app-title-header>

<section id="contact-us" class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 contact-info">
                <div class="row text-center">
                    <address class="col-sm-4 col-md-4">
                        <i class="fa fa-map-marker i-9x icons-circle text-color light-bg hover-black"></i>
                        <div class="title">Address</div>
                        Suit 15, Steller IT Park, Sector 62,<br>
                        Noida, U.P.,<br>
                        INDIA.<br>
                        zipcode - 201309.
                    </address>
                    <address class="col-sm-4 col-md-4">
                        <i class="fa fa-microphone i-9x icons-circle text-color light-bg hover-black"></i>
                        <div class="title">Phones</div>
                        <div>Support : +0123 (345) 6789</div>
                        <div>Sales : +0123 (345) 6789</div>
                        <div>Admin : +0123 (345) 6789</div>
                    </address>
                    <address class="col-sm-4 col-md-4">
                        <i class="fa fa-envelope i-9x icons-circle text-color light-bg hover-black"></i>
                        <div class="title">Email Address</div>
                        <div>Support : <a href="mailto:support@example.com">support@laymanwoods.com</a></div>
                        <div>Sales : <a href="mailto:support@example.com">sales@laymanwoods.com</a></div>
                        <div>Admin : <a href="mailto:support@example.com">admin@laymanwoods.com</a></div>
                    </address>
                </div>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <!-- <p class="form-message" style="display: none;"></p> -->
                <ipx-contact-form></ipx-contact-form>
            </div>
            <div class="col-md-8">
                <div class="map-section">
                    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" (mapClick)="mapClicked($event)">

                        <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat" [longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)">

                            <agm-info-window>
                                <strong>4C, Rajshekhar Bose Sarani, Bakul Bagan, Bhowanipore, Kolkata, West Bengal 700025
                          <p>landmark: Opposite Chittaranjan Sishu Sadan</p></strong>
                            </agm-info-window>

                        </agm-marker>

                        <agm-circle [latitude]="lat + 0.3" [longitude]="lng" [radius]="5000" [fillColor]="'red'" [circleDraggable]="true" [editable]="true">
                        </agm-circle>

                    </agm-map>
                    <!-- <div class="map-canvas" data-zoom="12" data-lat="28.6208" data-lng="77.3639" data-type="roadmap" data-hue="#ffc400" data-title="Noida" data-content="Layman Woods<br>
                        Contact: +91 (892) 936-88-85<br>
                        <a href='mailto:info@laymanwoods.com'>info@laymanwoods.com</a>" style="height: 376px;">
                    </div> -->
                </div>
            </div>
            <!-- map -->
        </div>
    </div>
</section>
<!-- page-section -->