<div id="page">

  <!-- Page Loader -->
  <div id="pageloader">
    <div class="loader-item fa fa-spin text-color"></div>
  </div>
<!-- Sticky Navbar -->
<header id="sticker" class="sticky-navigation">
    <!-- Sticky Menu -->
    <div class="sticky-menu relative">
        <!-- navbar -->
        <div id="navigation" class="navbar navbar-default navbar-bg-light" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <app-top-header></app-top-header>
                        <!-- Navbar Collapse -->
                        <div id="topnav" class="navbar-collapse collapse">
                            <!-- nav -->
                            <ul class="nav navbar-nav">
                                <li><a href="/" routerLinkActive="active" class="scroll">Home</a></li>
                                <li><a [routerLink]="['/about-us']" routerLinkActive="active" class="scroll">About</a></li>
                                <li><a [routerLink]="['/services']" [routerLinkActive]="'active'" class="scroll">Services</a></li>
                                <!-- <li><a href="/portfolio" [routerLinkActive]="'active'" class="scroll">Portfolio</a></li> -->
                                <li><a routerLink="/calculator" [routerLinkActive]="'active'" class="scroll">Price Calculator</a></li>
                                <li><a routerLink="/contact-us" [routerLinkActive]="'active'" class="scroll">Contact us</a></li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- navbar -->
    </div><!-- Sticky Menu -->
</header><!-- Sticky Navbar -->
<!--- Menu -->
  <router-outlet></router-outlet>

  <footer id="footer">
    <div class="footer-widget">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3 widget bottom-xs-pad-20">
            <div class="widget-title">
              <!-- Title -->
              <h3 class="title">About Us</h3>
            </div>
            <!-- Text -->
            <p> We like to provide great service for all kind of interior work !</p>
            <!-- Address -->
            <p><strong>Office:</strong> <br> No. 12, Steller IT Park Building,<br> Sector 62, Noida, INDIA.</p>
            <!-- Phone -->
            <p><strong>Call Us:</strong> +91 (892) 936-88-85

            </p>

            <div class="footer-logo">
              <!-- Image -->
              <img src="assets/img/logo.png" alt="" />
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 widget bottom-xs-pad-20">
            <div class="widget-title">
              <!-- Title -->
              <h3 class="title">Blogroll</h3>
            </div>
            <nav>
              <ul>
                <!-- List Items -->
                <li><a href="/laminate_type.html">Laminates Types</a></li>
                <li><a href="/carcase_material.html">Board vs Ply vs MDF </a></li>
                <li><a href="/hinge_type.html">Hinges & Channels</a></li>
                <li><a href="/faq.html">FAQ</a></li>
                <li><a href="/hardwares.html">Hardwares</a></li>
                <li><a href="/lw_blog.html">Useful Blog</a></li>
              </ul>
            </nav>

          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 widget">
            <div class="widget-title">
              <!-- Title -->
              <h3 class="title">Latest News</h3>
            </div>
            <nav>
              <ul class="footer-blog">
                <!-- List Items -->
                <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit. </a></li>
                <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit. </a></li>
                <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit. </a></li>
              </ul>
            </nav>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 widget newsletter bottom-xs-pad-20">
            <div class="widget-title">
              <!-- Title -->
              <h3 class="title">Newsletter Signup</h3>
            </div>
            <div>
              <!-- Text -->
              <p>Subscribe to Our Newsletter to get Important News, Amazing Offers & Inside Scoops:</p>
              <p class="form-message1" style="display: none;"></p>
              <div class="clearfix"></div>
              <!-- Form -->
              <form id="subscribe_form" action="subscription.php" method="post" name="subscribe_form" role="form">
                <div class="input-text form-group has-feedback">
                  <input class="form-control" type="email" value="" name="subscribe_email">
                  <button class="submit bg-color" type="submit"><span
                      class="glyphicon glyphicon-arrow-right"></span></button>
                </div>
              </form>
            </div>
            <!-- Count -->

            <div class="footer-count">
              <p class="count-number" data-count="1211">happy clients : <span class="counter"></span></p>
            </div>
            <!-- Social Links -->
            <div class="social-icon gray-bg icons-circle i-3x">
              <a href="https://www.facebook.com/layman.woods.9"><i class="fa fa-facebook"></i></a>
              <a href="https://twitter.com/LaymanWoods/"><i class="fa fa-twitter"></i></a>
              <a href="https://in.pinterest.com/infolaymanwoods/"><i class="fa fa-pinterest"></i></a>
              <a href="https://www.youtube.com/channel/UCd8ZK8gM1FDggnzsP4WUUEQ?view_as=subscriber"><i
                  class="fa fa-youtube"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
          <!-- .newsletter -->
        </div>
      </div>
    </div>
    <!-- footer-top -->
    <div class="copyright">
      <div class="container">
        <div class="row">
          <!-- Copyrights -->
          <div class="col-xs-12 col-sm-6 col-md-6">
            &copy; 2018 <a href="#">www.laymanwoods.com</a>. Interior Design Agency.
            <br>
            <!-- Terms Link -->
            <a href="#">Terms of Use</a> / <a href="#"> Privacy Policy</a>
          </div>
          <div class="col-xs-2  col-sm-6 col-md-6 text-right page-scroll gray-bg icons-circle i-3x">
            <!-- Goto Top -->
            <a href="#page">
              <i class="glyphicon glyphicon-arrow-up"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- footer-bottom -->
  </footer>
  <!-- footer -->
</div>