
<div class="row">
    <div class="form-group">
        <label class="col-sm-4 control-label" [attr.for]="identifier"> {{label}}</label>
        <div class="col-sm-6">
            <select class="form-control" [attr.id]="identifier" [(ngModel)]="value" (change)="change(value)" #selectref
                [ngClass]="{ 'edited' :controledited()}">
                <!-- <option *ngIf="isOptional" value="">{{ optionalValue }}</option> -->
                <!-- <option>-- Select a Brand --</option> -->
                <option [ngValue]="item[keyField] || item" *ngFor="let item of _options; trackBy: trackByFn">
                    <span>{{ (displayField ? item[displayField] : item) }}</span>
                    <!-- <span *ngIf="!applyTranslate">{{ (displayField ? item[displayField] : item)}}</span> -->
                </option>
            </select>
        </div>
    </div>
</div>